[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
rope = "*"
pytest = "*"
pytest-cov = "*"
mypy = "*"
pre-commit = "*"
flake8 = "*"
flake8-black = "*"
flake8-bugbear = "*"
flake8-import-order = "*"
reorder-python-imports = "*"

[packages]

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
